.social {
  display: block;

  &__list {
    text-align: center;

    @include breakpoint($b-medium) {
      text-align: left;
    }
  }

  &__listItem {
    display: inline-block;
    position: relative;
  }

  &__link {
    text-decoration: none;
    color: black;

    &:focus,
    &:hover {
      color: darkslategrey;
    }
  }
}