.social {
  display: block;

  &__listItem {
    @include breakpoint($b-medium) {
      display: inline-block;
      position: relative;
    }
  }

  &__link {
    text-decoration: none;
    color: black;

    &:focus,
    &:hover {
      color: darkslategrey;
    }
  }
}