.header {
  &__base {
    transition: all .3s ease-in-out;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid grey;
    background-color: white;
    color: black;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;
    position: fixed;
    z-index: 1;

    @include breakpoint($b-medium) {
      height: 70px;
    }
  }
}