.footer-nav {
  
  &__list {
    text-align: center;

    @include breakpoint($b-medium) {
      text-align: right;
    }

    &Item {
      @include breakpoint($b-medium) {
        display: inline-block;
        position: relative;

        &:not(:last-child):after {
          content: '/';
          width: 10px;
          height: 10px;
        }
      }
    }
  }

  &__link {
    font-size: 1.188rem;
    letter-spacing: .02em;
    transition: opacity .3s;
    text-decoration: none;
    color: black;

    &:focus,
    &:hover {
      color: darkslategrey;
    }
  }
}

footer {
  // icons
  ul:first-child {
    text-align: center;

    @include breakpoint($b-medium) {
      text-align: left;
    }

    li {
      width: 20px;
      height: 20px;
      overflow: hidden;
      display: inline-block;
      position: relative;

      img {
          width: 100%;
          height: auto;
      }
    }
  }

  ul:nth-child(2) {
    text-align: center;
    
    li {
      @include breakpoint($b-medium) {
        display: inline-block;
        position: relative;

        &:not(:last-child):after {
          content: '/';
          width: 10px;
          height: 10px;
        }
      }

      a {
        font-size: 1.188rem;
        letter-spacing: .02em;
        transition: opacity .3s;
        text-decoration: none;
        color: black;

        &:focus,
        &:hover {
          color: darkslategrey;
        }
      }
    }
    @include breakpoint($b-medium) {
      text-align: left;
    }
  }
}
