// Would've been nice to have classes :(
/* .footer-nav {
  
  &__list {
    text-align: center;

    @include breakpoint($b-medium) {
      text-align: right;
    }

    &Item {
      @include breakpoint($b-medium) {
        display: inline-block;
        position: relative;

        &:not(:last-child):after {
          content: '/';
          width: 10px;
          height: 10px;
        }
      }
    }
  }

  &__link {
    font-size: 1.188rem;
    letter-spacing: .02em;
    transition: opacity .3s;
    text-decoration: none;
    color: black;

    &:focus,
    &:hover {
      color: darkslategrey;
    }
  }
} */

footer {
  ul {
    margin-top: 40px;

    @include breakpoint($b-medium) {
      width: 40%;
      float: left;
    }
  }

  li {
    transition: all .3s linear;
  }
  // icons
  ul:first-of-type {
    text-align: center;

    @include breakpoint($b-medium) {
      text-align: left;
      margin-left: 10%;
    }

    li {
      width: auto;
      overflow: hidden;
      display: inline-block;
      position: relative;
      margin-left: 10px;

      img {
          height: 100%;
          width: auto;
      }

      &:hover,
      &:focus {
        opacity: 0.5;
      }
    }
  }

  ul:nth-of-type(2) {
    text-align: center;
    
    li {
      @include breakpoint($b-medium) {
        display: inline-block;
        position: relative;

        &:not(:last-child):after {
          content: '/';
          width: 10px;
          height: 10px;
        }
      }

      a {
        font-size: 1.188rem;
        letter-spacing: .02em;
        transition: opacity .3s;
        text-decoration: none;
        color: black;

        &:focus,
        &:hover {
          color: darkslategrey;
        }

        img {
          width: 20px;
          height: 20px;
        }
      }
    }
    @include breakpoint($b-medium) {
      text-align: right;
      margin-right: 10%;
    }
  }
}
