.footer-nav {
  &__base {
    width: 100%;
    height: 30px;
    border: 1px solid red;
  }
  
  &__list {
    &Item {
      display: inline-block;
      position: relative;
    }
  }

  &__link {
    font-size: 1.188rem;
    letter-spacing: .02em;
    transition: opacity .3s;
  }
}