@import 'font-imports';

$adobe-extra-bold: 'AdobeClean-ExtraBold', Arial, sans-serif;
$adobe-bold: 'AdobeClean-Bold', Arial, sans-serif;
$adobe-medium: 'AdobeClean-Medium', Arial, sans-serif;
$adobe-regular: 'AdobeClean-Regular', Arial, sans-serif;
$adobe-light: 'AdobeClean-Light', Arial, sans-serif;

$base-font-size: 16px;