@charset 'UTF-8';

// May later replace with classes if provided
h1 {
  font-size: 3.375rem;
  line-height: 1.2;
  margin-top: .875rem;
  max-width: 775px;
  margin: 60px auto;
}

h2 {
  font-size: 2rem;
  margin-top: 30px;
  margin-bottom: 15px;
  line-height: 1.25;
}

h3 {
  font-size: 1.375rem;
  line-height: 1.545454;
  margin-bottom: 30px;
}

h1,
h2,
h3 {
  text-align: center;
}
