@charset 'UTF-8';
// All main styles

html,
body {
  font-family: $adobe-regular;
  font-size: $base-font-size;
  color: #0a0a0a;
}

// globally constrain images for responsive behavior
img {
  width: 100%;
  height: auto;
}

main {
  max-width: 100%;
  padding-bottom: 20px;
  padding-top: 50px;

  @include breakpoint($b-large) {
    padding-top: 70px;
  }
  
  &.author-page__base {
    background-color: #f7f4f4;

    @include breakpoint($b-large) {
      padding-top: 90px;
    }
  }
}

aside {
  margin-top: 60px;
  padding-left: 35px;

  @include breakpoint($b-large) {
    padding-left: 0;
  }
}

section {
  display: flex;
  flex-direction: column-reverse;
  max-width: 990px;
  margin: 0 auto;

  @include breakpoint($b-medium) {
    flex-direction: row;
  }

  ul.li {
    list-style: disc;
    list-style-position: inside;
  }

  > div {
    padding: 0 35px;

    @include breakpoint($b-large) {
      padding: 0 20px;
    }
  }
}

.footerWrapper {
  &__base {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 120px;
    max-width: 990px;
    margin: 0 auto;
    padding-top: 50px;

    @include breakpoint($b-medium) {
      flex-direction: row;
    }

    .social__base,
    .footer-nav__base {
      width: 100%;

      @include breakpoint($b-medium) {
        width: 50%;
      }
    }
  }
}

// All overrides

// hero image inside of paragraph should not be restricted to a certain width
.hlx-section.title {
  p {
    max-width: 100%;
  }
}

// This is a bad hack for styling and id's should
// never be used for styling
#related-posts > div {
  background-color: #f7f4f4;
  margin-top: 50px;
  padding: 50px 0;
}

// Also hack for the first paragraph of the homepage
