@charset 'UTF-8';
// All main styles

html,
body {
  font-family: $adobe-regular;
  font-size: $base-font-size;
}

// globally constrain images for responsive behavior
img {
  width: 100%;
  height: auto;
}

main {
  max-width: 100%;
}

aside {
  margin-top: 60px;
}

section {
  display: flex;
  flex-direction: column-reverse;
  max-width: 990px;
  margin: 0 auto;

  @include breakpoint($b-medium) {
    flex-direction: row;
  }

  ul.li {
    list-style: disc;
    list-style-position: inside;
  }
}

.footerWrapper {
  &__base {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 120px;
    max-width: 990px;
    margin: 0 auto;
    padding-top: 50px;

    @include breakpoint($b-medium) {
      flex-direction: row;
    }

    .social__base,
    .footer-nav__base {
      width: 100%;

      @include breakpoint($b-medium) {
        width: 50%;
      }
    }
  }
}

// All overrides

// hero image inside of paragraph should not be restricted to a certain width
.hlx-section.title {
  p {
    max-width: 100%;
  }
}
