// All main styles

html,
body {
  font-family: $adobe-regular;
  font-size: $base-font-size;
}

// globally constrain images for responsive behavior
img {
  width: 100%;
  height: auto;
}

// header styles
.header {
  &__base {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;
  }
}